In [14]:
import pandas as pd
import numpy as np

In [2]:
data = {'name':'john','age':38,'sex':22}

In [3]:
pd.Series(data)

name    john
age       38
sex       22
dtype: object

In [6]:
array = np.array([22,31,42,23])

In [7]:
array

array([22, 31, 42, 23])

In [8]:
pd.Series(array)

0    22
1    31
2    42
3    23
dtype: int64

In [10]:
array = np.array(['John','male',22])
john_series = pd.Series(array,index=['Name','Sex','Age'])

In [11]:
john_series['Name']

'John'

In [16]:
ndarray = np.arange(10).reshape(2,5)

In [17]:
ndarray

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [18]:
pd.DataFrame(ndarray,index=['index1'])

   0  1  2  3  4
0  0  1  2  3  4
1  5  6  7  8  9